<div class="auth-container">
    <h2>Entrar</h2>
    <form action="/login" method="post">
        <div class="form-control">
            <label for="email">E-mail de usuário:</label>
            <input type="email" name="email" placeholder="Digite seu e-mail">
        </div>
        <div class="form-control">
            <label for="senha">Senha de usuário:</label>
            <input type="password" name="senha" placeholder="Digite sua senha">
        </div>
        <div class="form-control">
            <button type="submit">Entrar</button>
            <p>Não tem uma conta? <a href="/registrar">Clique aqui!</a></p>
        </div>
    </form>
</div>