<div class="tought-form-container">
    <a href="/toughts/dashboard">voltar</a>
    <h2>Criando um pensamento:</h2>
    <form action="/toughts/add" method="post">
        <div class="form-control">
            <label for="titulo">Título do Pensamento:</label>
            <input type="text" name="titulo" placeholder="Digite o título do pensamento">
        </div>
        <div class="form-control">
            <label for="pensamento">Pensamento:</label>
            <textarea name="pensamento" cols="30" rows="10">Digite o pensamento</textarea>
        </div>
        <div class="form-control">
            <button type="submit">Criar pensamento</button>
        </div>
    </form>
</div>